# Problem Statement No. 02

### Perform the following operations on Age-Income dataset (Age-Income-Dataset.csv)
### Provide summary statistics (mean, median, minimum, maximum, standard deviation) for numeric variables with and without using any library functions.
### Provide summary statistics of income grouped by the age groups. Create a list that contains a numeric value for each response to the categorical variable.

In [2]:
import math 
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('AgeIncomeDataset.csv')

In [6]:
df.head()

          Age  Income
0       Young   25000
1  Middle Age   54000
2         Old   60000
3       Young   15000
4       Young   45000

In [12]:
df.isnull().sum()

Age       0
Income    0
dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     50 non-null     object
 1   Income  50 non-null     int64
dtypes: int64(1), object(1)
memory usage: 932.0+ bytes

In [15]:
numeric = [i for i in df.columns if df[i].dtypes != 'O']
numeric

['Income']

In [16]:
def mean(x):
    mean = sum(x)/len(x)
    return mean

In [20]:
for i in numeric:
    print(f"The mean is {mean(df[i])}")

The mean is 50966.0

In [21]:
def median(x):
    n = len(x)
    data = sorted(x)
    if n%2==0:
        median_1 = data[n//2]
        median_2 = data[n//2 - 1]
        median = (median_1 + median_2) / 2
    else:
        median = data[n//2]
    return median

In [22]:
for i in numeric:
    print(f"The median is {median(df[i])}")

The median is 46850.0

In [27]:
min_value = float('inf')
min_age = None

In [30]:
for age, income in zip(df['Age'],df['Income']):
    if income < min_value:
        min_value = income
        min_age = age

In [32]:
print(f"The minimum value is {min_value} is of {min_age} group")

The minimum value is 15000 is of Young group

In [33]:
max_value = 0
max_age = None

In [35]:
for age, income in zip(df['Age'],df['Income']):
    if income > max_value:
        max_value = income
        max_age = age

In [36]:
print(f"The minimum value is {max_value} is of {max_age} group")

The minimum value is 93000 is of Middle Age group

In [37]:
def standard_deviation(x):
    n = len(x)
    mean = sum(x)/n
    var = sum([(i - mean)**2 for i in x])/(n-1)
    std_dev = math.sqrt(var)
    return std_dev

In [38]:
for i in numeric:
    print(f"The Standaed Deviation is {standard_deviation(df[i])}")

The Standaed Deviation is 21096.683267707253

In [39]:
def var(x):
    n = len(x)
    mean = sum(x)/n
    var = sum([(i - mean)**2 for i in x])/(n-1)
    return var

In [40]:
for i in numeric:
    print(f"The Standaed Deviation is {var(df[i])}")

The Standaed Deviation is 445070044.8979592

### With Using Library Functions

In [42]:
import statistics

In [47]:
mean = np.mean(df['Income'])
mean

50966.0

In [48]:
median = np.median(df['Income'])
median

46850.0

In [50]:
std_deviation = statistics.stdev(df['Income'])
std_deviation

21096.683267707253

In [51]:
variance = statistics.variance(df['Income'])
variance

445070044.8979592

### Performing summary statistics by groups

In [53]:
groups = df.groupby('Age')

In [57]:
df.groupby('Age')['Income'].mean()

Age
Middle Age    52453.333333
Old           53942.105263
Young         46037.500000
Name: Income, dtype: float64

In [58]:
df.groupby('Age')['Income'].median()

Age
Middle Age    53200.0
Old           45300.0
Young         41500.0
Name: Income, dtype: float64

In [59]:
df.groupby('Age')['Income'].std()

Age
Middle Age    20497.800114
Old           20868.165968
Young         22356.859499
Name: Income, dtype: float64

In [60]:
df.groupby('Age')['Income'].var()

Age
Middle Age    4.201598e+08
Old           4.354804e+08
Young         4.998292e+08
Name: Income, dtype: float64