# Problem Statement No. 07

## Perform the following operations using Python on any open source dataset.
### 1. Import all the required Python Libraries.
### 2. Load the Dataset into pandas data frame.
### 4. Data Preprocessing: check for missing values in the data to get some initial statistics. Provide variable descriptions. Types of variables etc. Check the dimensions of the data frame.
### 5. Data Formatting and Data Normalization: Summarize the types of variables by checking the data types (i.e., character, numeric, integer, factor, and logical) of the variables in the data set. If variables are not in the correct data type, apply proper type conversions.
### 6. Turn categorical variables into quantitative variables in Python. In addition to the codes and outputs, explain every operation that you do in the above steps and explain everything that you do to import/read/scrape the data set.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('data.csv')

In [4]:
df.head()

   Duration         Date  Pulse  Maxpulse  Calories
0        60  2020/12/01'    110       130     409.1
1        60  2020/12/02'    117       145     479.0
2        60  2020/12/03'    103       135     340.0
3        45  2020/12/04'    109       175     282.4
4        45  2020/12/05'    117       148     406.0

In [7]:
df.shape

(32, 5)

In [8]:
df.describe()

         Duration       Pulse    Maxpulse    Calories
count   32.000000   32.000000   32.000000   30.000000
mean    68.437500  103.500000  128.500000  266.013333
std     70.039591    7.832933   12.998759  164.876415
min     30.000000   90.000000  101.000000 -300.000000
25%     60.000000  100.000000  120.000000  247.000000
50%     60.000000  102.500000  127.500000  282.200000
75%     60.000000  106.500000  132.250000  343.975000
max    450.000000  130.000000  175.000000  479.000000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB

In [5]:
df.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [9]:
numerical_nan = [i for i in df.columns if df[i].isnull().sum() > 0 and df[i].dtype != 'O']

In [10]:
numerical_nan

['Calories']

In [12]:
for i in numerical_nan:
    mean_value = df[i].mean()
    df[i] = df[i].fillna(mean_value)

In [14]:
df[numerical_nan].isnull().sum()

Calories    0
dtype: int64

In [15]:
for i in df.columns:
    print(f"{i} has {df[i].dtypes} data type")

Duration has int64 data type
Date has object data type
Pulse has int64 data type
Maxpulse has int64 data type
Calories has float64 data type

In [16]:
df['Calories'] = np.where((df['Calories'] < 0), -(df['Calories']),df['Calories'])

In [18]:
df.head()

   Duration         Date  Pulse  Maxpulse  Calories
0        60  2020/12/01'    110       130     409.1
1        60  2020/12/02'    117       145     479.0
2        60  2020/12/03'    103       135     340.0
3        45  2020/12/04'    109       175     282.4
4        45  2020/12/05'    117       148     406.0

In [22]:
(df['Calories'] < 0).value_counts()

Calories
False    32
Name: count, dtype: int64